table.edit_table {
    width: max-content;
    table-layout: fixed;
    border-collapse: collapse;
    background: #fff;
}

.edit_table th,
.edit_table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.edit_table td {
    position: relative;
}

.edit_table .count_scope,
.edit_table .total_scope {
    padding: 0px;
}

.edit_table input {
    width: 60px;
    border: none;
    text-align: right;
    padding: 0px;
}

.edit_table thead th,
.edit_table .date,
.edit_table .label {
    background-color: #c5dbff;
}

.edit_table .total_scope,
.edit_table .total_scope input {
    background-color: #eee;
}

.edit_table .note_scope {
    padding: 1px;
}

.edit_table .note_scope textarea {
    height: 100%;
    border: none;
    padding: 3px;
}

.history_info_box {
    display: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: #fff;
    font-size: 12px;
    position: absolute;
    text-align: left;
    width: 120px;
    top: -19px;
    left: 60px;
    z-index: 3;
}

.history_info_box .strong {
    font-weight: bold;
    font-size: 13px;
}

.history_info_box .balloon {
    padding: 2px;
}

table .info_icon {
    position: absolute;
    top: 2px;
    right: 2px;
}

table .info_icon:hover {
    cursor: pointer;
}

#index_customise table tbody td {
    position: relative;
    text-align: center;
}

#index_customise table tbody td .history_info_box {
    z-index: 10;
}

.last_order,
.next_order,
.header #filter,
.header #output {
    border: 1px solid #e3e7e8;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
    height: auto;
    padding: 10px 20px;
    min-width: 100px;
}

.last_order:hover,
.next_order:hover,
.header #filter:hover,
.header #output:hover {
    background-color: #1D6FA5;
}

#index_customise table tbody td.value.checked {
    background-color: #f0ee64;
}

#index_customise table tbody td.total {
    color: #ff4343;
    font-weight: bold;
}

@import url("css/custome_table.css");