#index_customise {
    min-width: 2500px;
}

#index_customise table {
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #fff;
    width: max-content;
}

#index_customise table tbody tr.odd {
    background-color: #fff;
}

#index_customise table tbody tr.even,
#index_customise table tbody tr.even td {
    background-color: #e9f3fb;
}

#index_customise table th,
#index_customise table td {
    border: 1px solid #c1ddf7;
    padding: 14px 8px;
    color: #333;
    font-size: 14px;
}

#index_customise table td,
#index_customise table td input {
    background-color: #fff;
}

#index_customise table td input {
    border: none;
    font-size: 14px !important;
    width: 100%;
}

#index_customise table td input.custome {
    width: auto;
}

#index_customise table th {
    position: sticky;
    background-color: #fff;
    border: 1px solid #c1ddf7;
    top: 40px;
    z-index: 5;
}

#index_customise table td input.custome {
    display: none;
}

#index_customise table td label {
    border: 1px solid #31A9EE !important;
    color: rgb(252, 85, 85);
    background-color: #fff !important;
    margin-right: 10px;
    padding: 10px 20px;
}

#index_customise table td label:hover {
    background: #31A9EE !important;
    color: #ffffff;
    opacity: 0.7;
}

#index_customise table td input.custome:checked+label {
    background: #31A9EE !important;
    color: #ffffff;
}

#index_customise table td input[type="button"] {
    padding: 10px 20px;
    background-color: #3c91ff !important;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    color: #fff;
    border: none;
    border-bottom: 5px solid #3276cf !important;
}

#index_customise table td input[type="button"].checked {
    padding: 10px 20px;
    background-color: #ff9136 !important;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    color: #fff;
    border: none;
    border-bottom: 5px solid #c26d28 !important;
}

#index_customise table td input[type="button"]:hover {
    opacity: 0.7;
}

.kintone-app-headermenu-space .header {
    display: flex;
    font-size: 18px;
}

.kintone-app-headermenu-space .header .filter {
    margin-left: 15px;
}

.kintone-app-headermenu-space .header .filter label {
    margin-right: 5px;
}

.header #filter_date {
    height: 40px;
    border: 1px solid #e3e7e8;
    box-shadow: 2px 2px 4px #f5f5f5 inset, -2px -2px 4px #f5f5f5 inset;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    padding: 10px;
}

#index_customise table thead th.link_icon {
    position: sticky;
    left: 0;
    z-index: 8;
}

#index_customise table tbody td.link_icon {
    position: sticky;
    left: 0;
    z-index: 3;
}

#index_customise table thead th.company_name {
    position: sticky;
    left: 47px;
    z-index: 8;
}

#index_customise table tbody td.company_name {
    position: sticky;
    left: 47px;
    z-index: 3;
}

#index_customise table thead th.kubun_icon {
    position: sticky;
    left: 214px;
    z-index: 8;
}

#index_customise table tbody td.kubun_icon {
    position: sticky;
    left: 214px;
    z-index: 3;
}

#index_customise table thead th.total {
    position: sticky;
    left: 276px;
    z-index: 8;
}

#index_customise table tbody td.total {
    position: sticky;
    left: 276px;
    z-index: 3;
}

#index_customise table tbody td.value:hover {
    cursor: pointer;
}

#index_customise table thead .kubun.hover_active,
#index_customise table tbody .kubun_icon.hover_active {
    background-color: #f89a4e;
}